:root {
  --font-Inter: "Inter", sans-serif;
  --font-Karla: "Karla", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  background: #f5f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------- Landing Page --------------------------------- */

.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.landing-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.landing-title {
  font-size: 2.5rem;
  color: #293264;
  font-family: var(--font-Karla);
  margin: 0;
}

.landing-description {
  margin: 0;
  font-size: 1.2rem;
  font-family: var(--font-Inter);
  margin-top: 0.5em;
}

.start-btn {
  font-size: 1.2rem;
  padding: 1em 3em;
  font-family: var(--font-Inter);
  margin-top: 1em;
  background-color: #4d5b9e;
  border-radius: 15px;
  border: none;
  color: #f5f7fb;
  cursor: pointer;
}

.blue-blob {
  position: absolute;
  left: 0%;
  bottom: 0%;
  z-index: -1;
}

.yellow-blob {
  position: absolute;
  right: 0%;
  top: 0%;
  z-index: -1;
}

/* --------------------- Quiz Component ------------------------- */

.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 0 auto;
}

.small {
  height: 50px;
  position: fixed;
  overflow: hidden;
  z-index: -1;
}

.check-answers-btn, .play-again-btn {
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
  border: none;
  background: #4D5B9E;
  padding: 1em .75em;
  margin-bottom: 1em;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: var(--font-Inter);
  color: #FFFFFF;
  font-family: var(--font-Inter);
}

.results {
  width: 90%;
  font-size: 1.2rem;
  margin: .5em auto;
  text-align: center;
  color: #293264;
  font-family: var(--font-Inter);
  font-weight: 700;
}

/* -------------------- Question Component ---------------------- */

.question-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 1em;
}

.question {
  color: #293264;
  font-family: var(--font-Karla);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0;
}

.answers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.answer-btn {
  border-radius: 8px;
  border: 1px solid #4D5B9E;
  background: transparent;
  padding: .25em .75em;
  margin-bottom: 1em;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: var(--font-Inter);
  color: #293264;
}

.selected {
  background: #D6DBF5;
  border: none;
}

.answers-container:not(last-child) {
  border-bottom: 0.8px solid #bec1d0;
}

.correct {
  background: #94D7A2;
}

.incorrect {
  background: #F8BCBC;
}

/* ------------- Media Queries ------------------------------ */

@media (min-width: 600px) {

  .answers-container {
    flex-direction: row;
    column-gap: 1em;
    flex-wrap: wrap;
  }

  .small {
    height: 150px;
  }
}

.layout {
  background-image: url(./images/yellow-blob.png), url(./images/blue-blob.png);
  background-repeat: no-repeat, no-repeat;
  background-position: 100% 0, 0 100%;
  width: 100vw;
  height: 100%;
  overflow: scroll;
}